@import url('https://fonts.googleapis.com/css?family=Poppins|Roboto&display=swap" rel="stylesheet');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

header {
  position: fixed;
  width: 100%;
  height: 80px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(1, 41, 22);
  z-index: 1000;
}

header .logo {
  color: #fff;
  font-size: 30px;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 700;
}

header ul {
  position: relative;
  display: flex;
}

header ul li {
  position: relative;
  list-style: none;
}
header ul li a {
  position: relative;
  padding: 5px 10px;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

header ul li a:hover {
  background: #cdf1df;
  border-radius: 3px;
}

.toggle {
  display: none;
}

section {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  padding: 150px 100px 100px;
}

section h2 {
  font-size: 2.5em;
  text-transform: uppercase;
}

section p {
  font-size: 18px;
}

section a {
  display: inline-block;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 18px;
  background: #111;
  color: #fff;
  margin-top: 50px;
}

section:nth-child(odd) {
  position: relative;
  justify-content: center;
  align-items: center;
  background: #111;
  color: #fff;
}

@media (max-width: 992px) {
  header ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 80px);
    padding: 50px 100px;
    text-align: left;
    transition: 0.5s;
    background: rgb(1, 41, 22);
    flex-direction: column;
    align-items: flex-start;
    transform: translateY(-100%);
  }

  header.active ul {
    transform: translateY(0);
  }

  header ul li a {
    margin: 5px 0;
    font-size: 15px;
  }

  .toggle {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .toggle:before {
    content: "";
    position: absolute;
    top: 4px;
    width: 100%;
    height: 2px;
    background: #fff;
    z-index: 1;
    box-shadow: 0 10px 0 #fff;
    transition: 0.5s;
  }

  .toggle:after {
    content: "";
    position: absolute;
    bottom: 4px;
    width: 100%;
    height: 2px;
    background: #fff;
    z-index: 1;
    box-shadow: 0 10px 0 #fff;
    transition: 0.5s;
  }
  header.active.toggle:before {
    top: 14px;
    transform: rotate(45deg);
    box-shadow: 0#fff;
  }

  header.active.toggle:after {
    top: 14px;
    transform: rotate(-345deg);
    box-shadow: 0#fff;
  }
}

#home {
  background-color: black;
  background-size: contain;
  background-repeat: no-repeat;
  height: 300px;
  width: 500pz;
}

.maindiv {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-image: url(images/t1.jpeg);
  background-size: cover;
  animation: slider 100s infinite linear;
}

@keyframes slider {
  0% {
    background-image: url(images/L1.jpg);
    opacity: 0.5;
  }
  10% {
    background-image: url(images/L2.jpg);
    opacity: 0.5;
  }
  20% {
    background-image: url(images/L3.jpg);
    opacity: 0.5;
  }
  30% {
    background-image: url(images/L4.jpg);
    opacity: 0.5;
  }
  40% {
    background-image: url(images/L5.jpg);
    opacity: 0.5;
  }
  50% {
    background-image: url(images/L6.jpg);
    opacity: 0.5;
  }
  60% {
    background-image: url(images/L1.jpg);
    opacity: 0.5;
  }
  70% {
    background-image: url(images/L2.jpg);
    opacity: 0.5;
  }
  80% {
    background-image: url(images/L3.jpg);
    opacity: 0.5;
  }
  90% {
    background-image: url(images/L4.jpg);
    opacity: 0.5;
  }
  100% {
    background-image: url(images/L5.jpg);
    opacity: 0.5;
  }
}

.footer {
  width: 100%;
  background: #00121b;
  display: block;
}

.inner-footer {
  width: 95%;
  margin: auto;
  padding: 30px 10px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
}

.footer-items {
  width: 25%;
  padding: 10px 10px;
  box-sizing: border-box;
}

h1 {
  padding: 10px 0;
  font-size: 25px;
  color: #fff;
  text-transform: uppercase;
}

.footer-items p {
  color: grey;
  font-size: 16px;
  text-align: justify;
  line-height: 25px;
}

h3 {
  margin: 10px 0;
  color: rgb(223, 53, 11);
  font-size: 16px;
  font-weight: lighter;
  text-transform: uppercase;
}

.border {
  height: 2px;
  width: 40px;
  background: rgb(22, 160, 9);
}

ul {
  list-style: none;
  color: #fff;
  font-size: 15px;
  letter-spacing: 0.5px;
}

ul a {
  text-decoration: none;
  outline: none;
  color: #fff;
  transition: 0.3s;
}

ul a:hover {
  color: rgb(22, 160, 9);
}

ul li {
  margin: 10px 0;
  height: 25px;
}

li i {
  margin-right: 20px;
}

.social-media {
  widows: 100px;
  color: #fff;
  text-align: center;
}

.social-media a {
  text-decoration: none;
}

.social-media i {
  height: 15px;
  width: 15px;
  margin: 20px 5px;
  padding: 10px;
  color: #fff;
  border-radius: 50%;
  border: 1px solid grey;
  transition: 0.3s;
}

.social-media i:hover {
  background: grey;
}

.footer-bottom {
  padding: 10px;
  background: #3d545f;
  color: #fff;
  font-size: 12px;
  text-align: center;
}

@media screen and (max-width: 1085px) {
  .footer-items {
    width: 100%;
  }
}

.hometext h2 {
  position: absolute;
  font-size: 25px;
  color: rgb(22, 160, 9);
  padding-left: 550px;
  padding-top: 100px;
}

#img1 {
  height: 300px;
  width: 300px;
  padding-top: 30px;
}

.login-box {
  width: 380px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.login-box h1 {
  float: left;
  font-size: 40px;
  border-bottom: 6px solid rgb(10, 82, 19);
  margin-bottom: 30px;
  letter-spacing: 3px;
  padding: 13px 0;
}

.textbox {
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
}

#login_home {
  background-color: #111;
  opacity: 1;
}

.textbox i {
  width: 26px;
  float: left;
  text-align: center;
}

.textbox input {
  border: none;
  outline: none;
  background: none;
  color: white;
  font-size: 14px;
  width: 80%;
  float: left;
  margin: 0 10px;
}

.btn {
  width: 100%;
  background: none;
  border: 2px solid rgb(10, 82, 19);
  color: white;
  padding: 5px;
  font-size: 14px;
  cursor: pointer;
}

#myfile {
  color: orange;
  background: transparent;
  padding-bottom: 40px;
}

#logof {
  width: 150px;
  height: 150px;
  top: 450px;
  left: 35px;
}

#logo {
  left: 1px;
  height: 65px;
  width: 65px;
  padding-left: 2px;
  top: 2px;
}

/* Counter Part */

.counter {
  background-color: #f5f5f5;
  padding: 20px 0;
  border-radius: 5px;
}

.count-title {
  font-size: 40px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
}

.count-text {
  font-size: 13px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
}

.fa-2x {
  margin: 0 auto;
  float: none;
  display: table;
  color: #4ad1e5;
}

.img-fluid {
  height: 300px;
}
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgb(10, 82, 19);
}

/* Some left and right padding inside the container */
.container {
  padding: 0 16px;
}

/* Clear floats */
.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: rgb(4, 49, 10);
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: rgb(14, 104, 6);
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
    align-self: start;
  }
}

.row h2 {
  text-transform: none;
  letter-spacing: 2px;
  font-size: 25px;
  color: rgb(4, 49, 10);
  padding-bottom: 10px;
}

.row p {
  letter-spacing: 2px;
  font-size: 14px;
  padding-bottom: 10px;
}

.footer h3 {
  text-transform: none;
  letter-spacing: 2px;
  font-size: 25px;
  color: rgb(22, 160, 9);
}

.card-img-top {
  height: 250px;
}

.card-title h3 {
  color: #00121b;
}

.footer h1 {
  color: white;
  text-transform: uppercase;
  font-size: 30px;
}

.detail h2 {
  text-transform: uppercase;
  text-align: center;
}

.detail h3 {
  text-transform: none;
  font-size: 30px;
  color: rgb(22, 160, 9);
}

.detail p {
  width: 100%;
  font-size: 15px;
}

@media screen and (max-width: 650px) {
  .detail h2 {
    text-transform: uppercase;
    text-align: left;
    font-size: 25px;
  }

  .detail h3 {
    text-align: left;
    font-size: 15px;
  }

  .detail p {
    text-align: left;
    font-size: 12px;
  }

  .l_home h1 {
    text-align: left;
    font-size: 30px;
    padding-left: 40px;
  }

  .textbox {
    padding-left: 40px;
  }
}
